<h1 class="text-center">Página de inicio...</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, velit, maxime. Voluptatibus, fugiat, ipsam! Eos minus delectus, ab fugiat, ipsum quod soluta eligendi iste magni expedita atque, iure laboriosam architecto!</p>